.main-cont {
    padding: 0 50px;
}

.title-cont {
    padding: 96px 0 56px 10vw;
}

.sticker {
    width: 46%;
    height: 656px;
    background-color: #F2F5F1;
    position: absolute;
    top: 147px;
    z-index: -1;
    left: 0;
}

#blya {
    font-size: 72px;

}

.social-media > img {
    margin-left: 5px;
    height: 24px;
}

.menu {
    width: calc(100% / 3);
    padding-left: 35px;
    margin-top: 48px;
    position: relative;


}

.btn-menu {
    min-width: 100px;
    text-align: left;
    border-radius: 50px;
    width: 57%;
    border: 1px solid #E4E4E4;
    padding-left: 10px;
    margin-bottom: 10px;

}

.btn-menu:not(:disabled):hover {
    border-color: blue;
    cursor: pointer;
}

.active {
    border-color: #63C0C2;
}

.all-btn {
    border-color: transparent;
    background-color: transparent;
    font-size: 14px;
    color: #30ABAE;
    padding-left: 10px;
}

.all-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blog-card {
    min-width: 100px;
    width: calc(100% / 3);
    padding: 48px 35px;
}

.blog-card > h3 {
    font-size: 21px;
}

.blog-card > span {
    font-size: 12px;
    line-height: 24px;
    color: #C0C0C0;
    display: block;
    padding-bottom: 29px;

}

.blog-card > p {
    border-top: 2px solid #ED8651;
    line-height: 24px;
    font-size: 14px;
}

.title-categories {
    position: absolute;
    top: -41px;
    left: 46px;
}