.social-media > img {
    margin-left: 5px;
    height: 24px;
}

.nature {
    position: relative;
}

.nature img {
    margin-top: 3px;
    padding-top: 66px;
}

.nature h1 {
    position: absolute;
    bottom: 20%;
    font-size: 35px;
}

.places-title {
    font-size: 27px;
    margin: 50px 0 20px 0;
}

.country-card {
    min-width: 100px;
    width: calc((100% / 3) - 30px);
    margin: 10px 15px 10px 15px;
}

.country-card > h3 {
    margin: 15px 0 15px 0;
    padding-left: 17px;
    padding-bottom: 10px;

}

.country-card > p {
    border-left: 2px solid #ED8651;
    padding-left: 15px;
    line-height: 24px;
}

.colorword {
    color: #999999;
}